/* Reset básico de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #0268ac;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-radius: 30px;
}

header h1 {
    margin-bottom: 0.5em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
}

h2 {
    color: #0268ac;
}

article {
    margin-bottom: 2em;
}

footer img {
    max-width: 75px;
    height: auto;

    position: fixed;
    bottom: 0;
   right: 10px;
}

footer{
    background: #0268ac;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
